.dropdown-menu1{
    width: 500px;
    border: 1px solid #ccc;
    display: none;
    position: relative;
    float: none;
}

.form-group{
    margin-left: 10px;
    margin-top: 10px;
    width: 470px;
}

.knop{
    width: 500px;
}


/* Стили для меню животноводство*/
#menu_body li ul {
    display: none;
}
#menu_body li:hover ul, #menu_body li.over ul {
    display: block;
}
#menu_body {
    background:#171717;
    width: 600px;
}
#menu_body a {
    /*display: block;*/
    width: 600px;
    height: 40px;
    padding-left: 15px;
}

#menu_body ul li {
    list-style-type: none;
    border-bottom: 1px solid #fff;
    margin-left: -40px;
    padding-left: 0px;
}

#menu_body ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 115%;
    font-family: Georgia;
}

#menu_body ul li a:hover {
    color: #fff;
    text-decoration: none;
    background:#424242;
}

#menu_body ul li ul li {
    border: 2px solid;
    list-style-type: none;
    color: #fff;
    list-style-position: inside;
    background:#171717;
}

#menu_body ul li ul{
    border-top: 1px solid #fff;
    margin-left: -10px;
    padding-left: 50px;
}

.button-form{

}
/* конец для меню животноводство*/